---
import Page from '../../components/Page.astro';
import { getCollection } from 'astro:content';
import WritingContent from '../../components/WritingContent.astro';
import TableOfContents from '../../components/TableOfContent/TableOfContent.astro';
import Sidebar from '../../components/Sidebar.astro';
import ThreeColumnLayout from '../../components/ThreeColumnLayout.astro';
import PageHeading from '../../components/PageHeading.astro';
import PageTitle from '../../components/PageTitle.astro';
import { TinaMarkdown } from 'tinacms/dist/rich-text';
import { client as tinaClient } from '../../../tina/__generated__/client';

export const prerender = true;

// TODO: add minuteRead and TableOfContent

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const writingsConnection = await tinaClient.queries.writingConnection({
    filter: { draft: { eq: false } },
  });

  const writings = writingsConnection.data.writingConnection.edges?.map((writing) => {
    return {
      params: { slug: writing?.node?._sys.filename },
      props: {
        title: writing?.node?.title!,
        publishDate: writing?.node?.publishDate ? new Date(writing?.node?.publishDate) : undefined!,
        archive: writing?.node?.archive || false,
        body: writing?.node?.body,
      },
    };
  });

  return writings ?? [];
}

const { title, publishDate, body } = Astro.props;
---

<Page title={title}>
  <ThreeColumnLayout>
    <main class="center">
      <PageHeading>
        <a class="text-sm" href="/writing">Back to writing</a>
        <PageTitle>{title}</PageTitle>

        <div class="text-sm text-gray-400 dark:text-gray-400 flex space-x-3">
          <span
            >{
              publishDate.toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: '2-digit',
              })
            }</span
          >
          <span>@dhrjarun</span>
          <!-- <span>{remarkPluginFrontmatter.minutesRead}</span> -->
        </div>
      </PageHeading>
      <WritingContent>
        <TinaMarkdown content={body} />
        <!-- <Content /> -->
      </WritingContent>
    </main>
    <aside class="right">
      <Sidebar>
        <!-- <TableOfContents headings={headings} label="Table Of Content" /> -->
      </Sidebar>
    </aside>
  </ThreeColumnLayout>
</Page>

<style is:global>
  .sidebar {
    @apply fixed top-20 pl-5;
  }
</style>
